<% include ./partials/header %>

<div class="container">
    <div class="results ui center segment">
        <h2>AWESOMESAUCE! <br />It looks like you got</h2>
        <h1><%= food %></h1>
        <p>How about getting it at</p>
        <h1><%=business.name%></h1>
        <p>Type: 
        <% business.categories.forEach(function(type){ %>
            <%=type["title"]%>
        <% }) %>  </p>
        <div class="img">
            <img src="<%=business.image_url%>">
        </div>
        <p>Rating: <%= business.rating %>/5 &nbsp; &nbsp; Price Range: <%= business.price %>
        <br />Address: <%= business.location["display_address"][0] %>  <%= business.location["display_address"][1] %><br />Phone: <%= business.display_phone %></p>
        <div class="navigation">
            <ul>
                <a  class="ui inverted button" href="<%=business.url%>"><li>Link to Yelp page</li></a>
                
                <li><form class="resubmit-form" method="GET" action="/results">
                    <div class="ui icon input">
                        <input style="display: none;" value="<%=location%>" type="text" name="location">
                        <button class="ui inverted button">Try Again</button>
                    </div>
                </form>
                </li>
            </ul>
        </div>
        <a class="ui inverted button return-button" href="/">Different City</a>
    </div>
</div>

<% include ./partials/footer %>
